/* Seção inicial */
#inicio {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 24px 80px 128px 80px;
    position: relative;
}

.texto-principal {
    width: 100%;
}

h1,
h2 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;
}

.paragrafo {
    max-width: 100%;
    line-height: 150%;
    margin-bottom: 40px;
}

.botoes {
    display: flex;
    gap: 40px;
}

.botao {
    background-color: #ff725e;
    border-radius: 8px;
    color: #fff;
    font-size: 15px;
    padding: 16px 32px;
    border: none;
    cursor: pointer;
}

.botao:hover {
    animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.07);
    }
}

.botao-transparente {
    background-color: transparent;
    border: none;
    color: #ff725e;
    font-size: 15px;
    padding: 16px 32px;
    text-decoration: underline;
    text-underline-offset: 4px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.botao-transparente:hover {
    transform: scale(1.1);
}

.absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;
}

/* Seção clínica */
#clinica {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}

#clinica li {
    margin: 0 0 16px 32px;
}

/* Seção farmácia */
#farmacia {
    padding: 64px 80px;
    text-align: center;
}

#farmacia img {
    margin: 40px auto;
}

#farmacia .paragrafo {
    max-width: 950px;
    margin: 0 auto;
}

/* Seção dúvidas frequentes */
#duvidas {
    display: flex;
    align-items: start;
    gap: 64px;
    padding: 64px 80px;
}

.duvida {
    position: relative;
}

.duvida h3 {
    border: 2px solid #FF725E;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    padding: 24px;
}

.duvida img {
    position: absolute;
    top: 32px;
    right: 24px;
    cursor: pointer;
}

.duvida .paragrafo {
    border-right: 1px solid #FF725E;
    border-bottom: 1px solid #FF725E;
    border-left: 1px solid #FF725E;
    border-radius: 0 0 8px 8px;
    margin-top: -8px;
    padding: 0 24px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: .2s;
}

.duvida.ativa .paragrafo {
    height: fit-content;
    opacity: 1;
    padding: 24px;
}