footer {
    background-color: rgba(255, 152, 108, 0.25);
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 64px 80px;
}

footer img,
footer .titulo {
    display: block;
    font-weight: 600;
    margin-bottom: 24px;
}

footer nav a {
    color: #263138;
    display: block;
    margin-bottom: 16px;
}

footer p {
    margin-bottom: 16px;
    max-width: 350px;
}

footer p a {
    color: #263138;
}

footer a:hover {
    color: #ff725e;
    font-weight: 600;
}

#copyright {
    background-color: #263138;
    color: #FFFFFF;
    padding: 24px;
    text-align: center;
}

#copyright a {
    color: #FF9A6C;
}